<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dj.bms.dao.ConsumeMapper" >
  <resultMap id="BaseResultMap" type="org.dj.bms.model.Consume" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="FORMULA_ID" property="formulaId" jdbcType="VARCHAR" />
    <result column="CUSTOMER_ID" property="customerId" jdbcType="VARCHAR" />
    <result column="CORP_ID" property="corpId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="CONSUME_TYPE" property="consumeType" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="COMMENT" property="comment" jdbcType="VARCHAR" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR" />
    <result column="UPDATE_USER_ID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FORMULA_ID, CUSTOMER_ID, CORP_ID, USER_ID, CONSUME_TYPE, AMOUNT, `COMMENT`, CREATE_USER_ID, 
    UPDATE_USER_ID, CREATE_TIME, UPDATE_TIME
  </sql>
  <sql id="Column_List" >
    ID, FORMULA_ID, CUSTOMER_ID, CORP_ID, USER_ID, CONSUME_TYPE, AMOUNT, `COMMENT`
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="org.dj.bms.query.QueryInfo">
  		select 
  			<include refid="Column_List"/>
  		from
  			consume
  		<where>
  			<if test="corpId != null and corpId != ''">
  				and corp_id = #{corpId,jdbcType=VARCHAR}
  			</if>
  		</where>
  </select>
    <select id="selectConsumptions" resultType="map" parameterType="map">
        SELECT
            co.id AS id,
            co.corp_id as corp_id,
            organ.name as corp_name,
            cus. NAME AS customer_name,
            co.amount AS amount,
            u.real_name AS user_name
        FROM
            consume co
        JOIN customer cus ON co.customer_id = cus.id
        JOIN organization organ ON organ.id = co.corp_id
        JOIN USER u ON co.user_id = u.id
        WHERE
            co.corp_id = #{corpId}
    </select>
  
  <delete id="deleteByIds">
  	  delete from consume where id in
        <foreach collection="ids" item="id" index="index"  
            open="(" close=")" separator=",">  
            #{id}  
        </foreach>  
  </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from consume
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from consume
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.dj.bms.model.Consume" >
    insert into consume (ID, FORMULA_ID, CUSTOMER_ID, 
      CORP_ID, USER_ID, CONSUME_TYPE, 
      AMOUNT, `COMMENT`, CREATE_USER_ID, 
      UPDATE_USER_ID, CREATE_TIME, UPDATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{formulaId,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, 
      #{corpId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{consumeType,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{comment,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{updateUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.dj.bms.model.Consume" >
    insert into consume
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="formulaId != null" >
        FORMULA_ID,
      </if>
      <if test="customerId != null" >
        CUSTOMER_ID,
      </if>
      <if test="corpId != null" >
        CORP_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="consumeType != null" >
        CONSUME_TYPE,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="comment != null" >
        `COMMENT`,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="formulaId != null" >
        #{formulaId,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="corpId != null" >
        #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="consumeType != null" >
        #{consumeType,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.dj.bms.model.Consume" >
    update consume
    <set >
      <if test="formulaId != null" >
        FORMULA_ID = #{formulaId,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        CUSTOMER_ID = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="corpId != null" >
        CORP_ID = #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="consumeType != null" >
        CONSUME_TYPE = #{consumeType,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="comment != null" >
        `COMMENT` = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.dj.bms.model.Consume" >
    update consume
    set FORMULA_ID = #{formulaId,jdbcType=VARCHAR},
      CUSTOMER_ID = #{customerId,jdbcType=VARCHAR},
      CORP_ID = #{corpId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      CONSUME_TYPE = #{consumeType,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      `COMMENT` = #{comment,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>