<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dj.bms.dao.RoleResourceMapper" >
  <resultMap id="BaseResultMap" type="org.dj.bms.model.RoleResource" >
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="RESOURCE_ID" property="resourceId" jdbcType="VARCHAR" />
  </resultMap>
    <insert id="insert" parameterType="java.util.List">
    insert into ROLE_RESOURCE (ROLE_ID, RESOURCE_ID)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.roleId}, #{item.resourceId})
        </foreach>
  </insert>
  <insert id="insertSelective" parameterType="org.dj.bms.model.RoleResource" >
    insert into ROLE_RESOURCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="resourceId != null" >
        RESOURCE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


    <delete id="deleteRoleResource" parameterType="list">
        DELETE FROM ROLE_RESOURCE
        WHERE ROLE_ID IN
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>