<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.nocoder.djms.repository.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="org.nocoder.djms.model.UserRole" >
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
  </resultMap>

    <select id="selectUserRoleByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
      SELECT USER_ID,ROLE_ID FROM USER_ROLE
      WHERE USER_ID=#{userId}
    </select>
  <insert id="insert" parameterType="org.nocoder.djms.model.UserRole" >
    insert into USER_ROLE (USER_ID, ROLE_ID)
    values (#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.nocoder.djms.model.UserRole" >
    insert into USER_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    
    <delete id="deleteUserRoleByUserId" parameterType="java.lang.String" >
        DELETE FROM USER_ROLE WHERE USER_ID=#{userId}
    </delete>

    <delete id="deleteUserRoleByUserIds" parameterType="list">
        DELETE FROM USER_ROLE
        WHERE USER_ID IN
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>